<div class="about-content">
    <div style="display: flex; align-items: center; gap: 10px;">
        <img src="/assets/icons/fluent-emoji-flat_call-me-hand.svg" alt="About Icon">
        <h2 class="about-title">Projects</h2>
    </div>
    <br>
    <h3 class="about-subtitle">Work in Progress...</h3>
    <p class="about-text">
        Currently editing...
    </p>
</div>

