<div class="projects-content">
    <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 15px;">
        <img src="/assets/icons/fluent-emoji-flat_call-me-hand.svg" alt="Projects Icon">
        <h2 class="projects-title">Projects</h2>
    </div>
    <div class="projects-item">
        <div class="projects-image-container">
            <img src="/assets/images/sample.png" alt="Project Name" class="projects-image">
        </div>
        <div class="projects-content-wrapper">
            <div class="projects-header">
                <h3 class="projects-name">Project Name</h3>
                <span class="projects-label">Web Application</span>
            </div>
            <p class="projects-tech">Technologies Used</p>
            <p class="projects-description">Description of the project</p>
        </div>
    </div>
    <div class="projects-item">
        <div class="projects-image-container">
            <img src="/assets/images/sample.png" alt="Project Name" class="projects-image">
        </div>
        <div class="projects-content-wrapper">
            <div class="projects-header">
                <h3 class="projects-name">Project Name</h3>
                <span class="projects-label">Web Application</span>
            </div>
            <p class="projects-tech">Technologies Used</p>
            <p class="projects-description">Description of the project</p>
        </div>
    </div>
    <div class="projects-item">
        <div class="projects-image-container">
            <img src="/assets/images/sample.png" alt="Project Name" class="projects-image">
        </div>
        <div class="projects-content-wrapper">
            <div class="projects-header">
                <h3 class="projects-name">Project Name</h3>
                <span class="projects-label">Web Application</span>
            </div>
            <p class="projects-tech">Technologies Used</p>
            <p class="projects-description">Description of the project</p>
        </div>
    </div>
</div>

